#location{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    padding: 300px 0;
    scroll-margin-top: var(--header-height);
    position: relative;
}

#location iframe{
    height: 450px;
    width: 450px;
}