*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

a{
    color: black;
}

img{            
    width: 200px;
    height: 200px;
}

body {
    font-family: 'Lora', serif;
    overflow-x: hidden; /* hide header navbar correction */
}

html{
    scroll-behavior: smooth;
}

:root{
    --header-height: 100px;
    --main-color-dark: #5f3d1e;
    --main-color-hover:#97693f;
}

.maxWidth{
        max-width: 2000px; /* Wrapper Maximalbreite */
        margin: 0 auto; /* Zentrieren des Wrappers */
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);

    }
}