#öffnungszeiten{
    height: 600px;
    padding: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    scroll-margin-top: var(--header-height);
    position: relative;
}

#öffnungszeiten .decoBar{
    content: "";
    width: 30%;
    height: 1px;
    background: var(--main-color-dark);
    position: absolute;
    bottom: 0;
    opacity: 0;
    transform: translateX(600px);
    transition: 1s;
}

#öffnungszeiten .decoBar.show{
    opacity: 1;
    transform: translateX(0);
}

#öffnungszeiten .wrapper{
    display: flex;
    gap: 30px;
}

#öffnungszeiten h1 i{
    margin-right: 10px;
}

#öffnungszeiten ul li{
    font-size: 1.2rem;
    margin-bottom: 5px;
}

#öffnungszeiten ul:nth-child(1) li{
    font-weight: 600;
}

#öffnungszeiten .buttons a{
    border: none;
    outline: none;
    padding: 10px 40px;
    background: var(--main-color-dark);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all .5s;
}

#öffnungszeiten .buttons a:hover{
    background: var(--main-color-hover);
}

#öffnungszeiten .buttons a i{
    margin-right: 10px;
}

@media (max-width: 1000px) {
    #öffnungszeiten .decoBar{
        transform: translateX(200px);
    }
    #öffnungszeiten .decoBar{
        width: 60%;
    }
}

@media (max-width: 700px) {
    #öffnungszeiten{
        padding: 130px 0;
    }
    #öffnungszeiten .decoBar{
        width: 70%;
    }
}