#überUns{
    display: flex;
    justify-content: center;
    scroll-margin-top: calc(var(--header-height) - 1px);
    min-height: calc(50vh - var(--header-height));
}

#überUns .wrapper{
    display: flex;
}

#überUns .wrapper .leftSection{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#überUns .wrapper .leftSection a{
    background: var(--main-color-dark);
    padding: 10px 40px;
    width: fit-content;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .5s;
}

#überUns .wrapper .leftSection a:hover{
    background: var(--main-color-hover);
}

#überUns .wrapper .rightSection{
    padding: 30px 30px 30px 0;
}

#überUns .wrapper .rightSection img{
    height: 100%;
    width: 400px;
}


@media (max-width: 950px){
    #überUns{
        text-align: center;
        height:700px;
        padding-top: 50px;
    }
    
    #überUns .wrapper{
        flex-direction: column;
        justify-content: center;
    }

    #überUns .wrapper .leftSection{
        align-items: center;
    }
    
    #überUns .wrapper .rightSection{
        padding: 30px 30px 30px 30px;
    }
}